* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

body{
    background-color: hsl(0, 0%, 0%);
}

.string{
    height: 220px;
    width: 100dvw;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
