* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #111;
}


.main{
    height: 100%;
    width: 100%;
      display: flex;
    justify-content: center;
    align-items: center;
}


#cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    z-index: 9;
}

.image-container{
    height: 30vh;
    width: 60vw;
    position: relative;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: hsla(0, 100%, 50%, 0.405);
    position: absolute;
    z-index: 10;
}