* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

body{
    overflow-x: hidden;
}


#page{
    position: relative;
    background-color: #2c2c2c;
    height: 100dvh;
    width: 100dvw;
}
#page2{
    position: relative;
    background-color: hsl(0, 82%, 47%);
    height: 100dvh;
    width: 100dvw;
}
#page3{
    position: relative;
    background-color: #895c5cc9;
    height: 100dvh;
    width: 100dvw;
}
#page4{
    position: relative;
    background-color: #f6f6f6c9;
    height: 100dvh;
    width: 100dvw;
}


#page5{
     position: relative;
    background-color: #f6f6f6c9;
    height: 100dvh;
    width: 100dvw; 
}

#box{
    height: 200px;
    width: 200px;
    background-color: red;
    border: 2px solid black;
    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#box2{
    height: 200px;
    width: 200px;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    border: 2px solid black;
     position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1{
    font-size: 30vw;
    color: hsl(60, 58%, 27%);
    white-space: nowrap;
   
}